/agl
/main
cover.out
vendor
/pkg/agl/aglCore.go
/pkg/agl/someAgl.go
/agl_agl
/cmd/agl/*.go
node_modules/
language_server/agl-lsp
examples/adventOfCode2024/*/data.txt
examples/adventOfCode2024/*/*.go
*.go.map